@page
@model Dweb_TrabalhoFinal.Pages.Salas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.CodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.SessaoSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.SessaoSala)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sala.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
