@page
@model Dweb-TrabalhoFinal.Pages.SalaPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].SessaoSala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sala) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(model => item.Localidade)
            </td>
            <td>
                @Html.DisplayFor(model => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(model => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(model => item.SessaoSala)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
