@page
@model Dweb_TrabalhoFinal.Pages.Bilhetes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index - Controlo de Vendas</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bilhete[0].DataCompra)
            </th>
            <th>
                Sessão / Filme
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bilhete)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    <!-- Mostra os dados da sessão. -->
                    @Html.DisplayFor(modelItem => item.SessaoBilhete.Id) (Sessão)
                </td>
                <td>
                    <!-- Mostra o  cliente que efetuou a  compra -->
                    @Html.DisplayFor(modelItem => item.ClienteBilhete.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
